/*--------------------------------------
    eyoom (이윰빌더)
--------------------------------------*/

/*---------- Item Info ----------*/
.item-info-table {font-size:12px}
.item-info-table .width-180px {width:180px}
#sit_rel {position:relative;border:1px solid #d5d5d5;padding:20px 20px 10px;margin:20px 0 40px}
#sit_rel h2 {margin:0 0 20px;font-size:17px;color:#959595;font-weight:bold;text-align:center}
#sit_inf {margin:30px 0}
#sit_use {margin:30px 0}
#sit_qa {margin:30px 0}
#sit_dvr {margin:30px 0}
#sit_ex {margin:30px 0}
#sit_dvr img, #sit_ex img {display:block;width:100% \9;max-width:100%;height:auto}
.pg-anchor-in .nav-tabs {border-bottom:none}
.pg-anchor-in .nav-tabs li {width:20%}
.pg-anchor-in .nav-tabs li a {border:1px solid #d5d5d5;font-size:14px;padding:12px 10px;text-align:center;margin-right:0;margin-left:-1px;background:#f2f2f2;color:#959595;border-bottom:none !important}
.pg-anchor-in .nav-tabs li a:hover {color:#000}
.pg-anchor-in .nav-tabs li a:focus {color:#959595}
.pg-anchor-in .nav-tabs li.active a {z-index:1;border:1px solid #000;padding:12px 10px 13px;font-weight:bold;color:#000;background:#fff}
.pg-anchor-in .tab-bottom-line {position:relative;display:block;height:1px;background:#000;margin-bottom:20px}

/*---------- Item Form ----------*/
/* Shop Detail Product */
.shop-product {position:relative;padding:10px 0}
.shop-product h2 {float:left;color:#687074;font-size:26px;text-transform:uppercase}
.shop-product .list-inline {margin:0}
.shop-different-product {padding:10px 0}
.shop-different-product .btn-default {padding:5px 14px}
.shop-product-img {position:relative;overflow:hidden}
/* Shop Product Img */
.zoomLens {cursor:pointer !important}
.product-img-big {position:relative;padding:0 0 1px;margin:0}
.product-img-big a {display:none}
.product-img-big a.visible {display:block}
.product-img-big img {display:block;width:100% \9;max-width:100%;height:auto}
.product-img-big i {width:100%;background:#e5e5e5;text-align:center;color:#757575;height:408px;line-height:408px;font-size:70px}
.product-img-big .fotorama__thumb-border {border-color:#FF4848}
.product-thumb {position:relative;overflow:hidden;display:none;margin-left:-1px;margin-right:-1px}
.product-thumb .thumb-img {position:relative;outline:none;padding:1px}
.product-thumb .thumb-img img {display:block;width:100% \9;max-width:100%;height:auto}
.product-thumb .slick-prev, .product-thumb .slick-next {z-index:1;width:20px;height:100%;height:calc(100% - 2px);background:rgba(0, 0, 0, 0.5)}
.product-thumb .slick-prev:hover, .product-thumb .slick-next:hover {background:rgba(0, 0, 0, 0.7)}
.product-thumb .slick-next.slick-disabled, .product-thumb .slick-prev.slick-disabled {background:transparent}
.product-thumb .slick-next.slick-disabled:before, .product-thumb .slick-prev.slick-disabled:before {opacity:0}
.product-thumb .slick-prev {left:1px}
.product-thumb .slick-next {right:1px}
.product-thumb .slick-prev:before {font-family:'Font Awesome\ 5 Free';font-weight:900;content:"\f0d9";font-size:16px}
.product-thumb .slick-next:before {font-family:'Font Awesome\ 5 Free';font-weight:900;content:"\f0da";font-size:16px}
/* Shop Product Img Modal */
.shop-img-modal .fotorama__thumb-border {border-color:#FF4848}
.shop-img-modal .modal-dialog {width:600px}
.shop-img-modal .modal-footer {text-align:center}
.shop-img-modal .modal-footer .btn-e-lg {padding:10px 20px}
/* Shop Product Prev Next */
.shop-product-prev-next {position:relative;border:1px solid #e5e5e5;height:45px;padding:10px;line-height:25px}
.shop-product-prev-next .product-prev {position:absolute;top:0;left:0;color:#959595}
.shop-product-prev-next .product-prev i {width:45px;height:45px;line-height:45px;border-right:1px solid #e5e5e5;font-size:15px;text-align:center;margin-right:10px;color:#252525}
.shop-product-prev-next .product-next {position:absolute;top:0;right:0;color:#959595}
/* Shop Product Star Sns */
.shop-product-star-sns {position:relative;border:1px solid #e5e5e5;margin-top:-1px;height:45px;padding:10px 15px;line-height:25px}
.shop-product-prev-next .product-next i {width:45px;height:45px;line-height:45px;border-left:1px solid #e5e5e5;font-size:15px;text-align:center;margin-left:10px;color:#252525}
.shop-product-star-sns .li-divider {display:inline-block;width:2px;height:10px;margin:0 10px;background:#e5e5e5}
.item-share-wrap {position:absolute;top:0;right:0}
.item-share-wrap .item-share-btn {width:45px;height:45px;background:none;border:0;border-left:1px solid #e5e5e5}
.item-share-wrap .dropdown-menu {margin:0;left:inherit;right:-1px;margin-top:-2px;background:#fff;;border:1px solid #c5c5c5;box-shadow:none;min-width:180px;height:53px}
.item-share-wrap img {display:block;width:100% \9;max-width:100%;height:auto}
.item-share-wrap .share-sns {position:absolute;top:10px;left:10px}
.item-share-wrap .share-facebook {display:inline-block;width:30px;height:30px;padding:5px;background:#6A82C6}
.item-share-wrap .share-twitter {display:inline-block;width:30px;height:30px;padding:5px;background:#7BBCEB}
.item-share-wrap .share-googleplus {display:inline-block;width:30px;height:30px;padding:5px;background:#CD6C59}
.item-share-wrap .share-rec {position:absolute;top:10px;right:10px;display:inline-block;width:30px;height:30px;line-height:30px;text-align:center;color:#fff;background:#FDAB29}
/* Shop Product Description */
.shop-product-form .product-title {margin:0 0 20px;font-size:20px;color:#454545}
.shop-product .shop-description-box {position:relative;padding:10px 0;background:none;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;margin:20px 0 0}
.shop-product .shop-description-box .table {font-size:14px;margin-bottom:0}
.shop-product .shop-description-box .table>tbody>tr>th {width:30%}
.shop-product .shop-description-box .table>tbody>tr>th, .shop-product .shop-description-box .table>tbody>tr>td {border:0;padding:5px 0}
.shop-product .shop-description-box .shop-product-prices {font-size:18px;color:#E52700}
.shop-product .shop-description-box .line-through {font-size:14px;color:#b5b5b5;text-decoration:line-through;margin-left:5px}

.sit_option {padding:10px 0;border-bottom:1px solid #e5e5e5}
.sit_option label {display:block;margin:0 0 5px;color:#656565}
.sit_option.eyoom-form .select select {background:#f5f5f5}
.sit_option.eyoom-form .select select:disabled {opacity:0.4;cursor:not-allowed}
.sit_option.eyoom-form .select i {background:#f5f5f5}
.sit_option h3 {font-size:14px;margin:0 0 10px}
.sit_sel_btn {position:relative} /* 선택옵션용 추가 버튼 */
.sit_sel_btn button {position:absolute;top:-51px;right:0 !important;right:15px}

#sit_sel_option h3 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#sit_opt_added {margin:0;padding:0;border-bottom:0;background:#fff;list-style:none}
#sit_opt_added li {padding: 15px 0;padding-right:220px;margin:0;border-width:0 0 1px;border-style:solid;border-color:#e5e5e5;background:none;position:relative}
#sit_opt_added li .opt_name {line-height:20px;font-weight:bold}
#sit_opt_added li .opt_count {position:absolute;top:50%;right:0;margin-top:-15px}
#sit_opt_added button {float:left;width:30px;height:30px;border:1px solid #cdcdcd;background:#fff;color:#656565;font-size:12px}
#sit_opt_added button:hover {color:#000}
#sit_opt_added .num_input {float:left;border:0;height:30px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;text-align:center}
#sit_opt_added .sit_opt_del {border:0;font-size:15px}
#sit_opt_added .sit_opt_del:hover {color:#FF4848}
#sit_opt_added .sit_opt_prc {display:block;float:left;width:100px;padding:0 3px;text-align:right;line-height:30px;font-size:14px;font-weight:bold}

#mod_option_frm #sit_sel_option {margin:20px}
#mod_option_frm #sit_tot_price {margin:20px}
#mod_option_frm #sit_opt_added {border-top:1px solid #e5e5e5}
#mod_option_frm .btn_confirm {margin:20px}
#mod_option_frm .btn_confirm .btn_submit {height:40px;font-size:16px;font-weight:bold;width:100%;cursor:pointer}
#mod_option_frm .btn_confirm .btn_close {position:absolute;top:0;right:0;width:50px;height:50px;border:0;background:none;border-left:1px solid #c5c5c5;font-size:15px}
#mod_option_frm .btn_confirm .btn_close:hover {background:#f5f5f5}

#sit_tot_price {margin:10px 0;font-size:18px;color:#E52700;line-height:25px;font-weight:bold;text-align:right}
#sit_tot_price:after {display:block;visibility:hidden;clear:both;content:""}
#sit_tot_price span {float:left;color:#000}
#sit_ov_soldout {padding:20px 0;margin:10px 0;color:#FD1717;background:#fff0f0;font-weight:bold;text-align:center}

/* Shop Product Button */
#sit_ov_btn {margin-top:20px}
#sit_ov_btn:after {display:block;visibility:hidden;clear:both;content:""}
#sit_ov_btn button {width:200px;float:left;margin-right:5px;height:50px;margin-bottom:10px;font-weight:bold;font-size:16px}
#sit_btn_buy {background:#FF4848;color:#fff;border:0}
#sit_btn_buy:hover {background:#FD1717}
#sit_btn_cart {border:1px solid #FF4848;background:#fff;color:#FF4848}
#sit_btn_cart:hover {background:#f5f5f5}
#sit_btn_wish {display:inline-block;margin-bottom:10px;text-align:center;font-size:16px;float:right;width:70px;height:50px;line-height:48px;height:50px;border:1px solid #c5c5c5;color:#656565;font-weight:bold}
#sit_btn_wish:hover {color:#FF4848}
#sit_btn_alm {display:inline-block;width:215px;float:left;margin-right:5px;height:50px;line-height:50px;margin-bottom:10px;font-weight:bold;font-size:16px;background:#d50c0c;color:#fff;border:0;text-align:center}

/*---------- Item Use ----------*/
.product-use-top {position:relative;background:#f2f2f2;border:1px solid #d5d5d5;margin:20px 0 20px;padding:10px;line-height:40px;min-height:60px;vertical-align:middle}
.product-use-top h4 {display:inline-block;font-size:16px;font-weight:bold;margin:0 10px;color:#FF4848}
.product-use-top .li-divider {display:inline-block;width:2px;height:10px;margin:0 10px;background:#e5e5e5}
.product-use-top .product-use-btn {float:right}
.product-use-wrap {border-top:1px solid #eaeaea}
.product-use-list {position:relative;padding:10px;padding-left:150px;min-height:85px;border:1px solid #eaeaea;border-top:0}
.product-use-thumbnail {float:left;margin-right:10px}
.product-use-thumbnail img {max-width:70px;height:auto}
.product-use-title {font-weight:bold;font-size:14px}
.product-use-more {border:1px solid #d5d5d5;padding:3px 15px;color:#656565;font-size:12px;margin:10px 0;background:#fff}
.product-use-more:hover {background:#FF4848;border-color:#FF4848;color:#fff}
.product-use-dl {margin:0;position:absolute;top:10px;left:10px;zoom:1}
.product-use-dl:after {display:block;visibility:hidden;clear:both;content:""}
.product-use-dl dt {position:absolute;font-size:0;line-height:0;content:""}
.product-use-dl dd {color:#757575;line-height:1.5}
.product-use-dl dd i {color:#c5c5c5;margin-right:5px}
.product-use-dl .product-use-star {margin:0 0 5px}
.product-use-cont {display:none}
.product-use-p {margin:10px 0}
.product-use-cmd {text-align:right}
.product-use-reply {position:relative;border-top:1px dotted #e5e5e5;margin:10px 0 0;padding:10px 0 0 40px}
.product-use-reply-icon {position:absolute;top:15px;left:10px;width:15px;height:30px;text-indent:-999px;overflow:hidden;border-left:1px dotted #c5c5c5;border-bottom:1px dotted #c5c5c5}
.product-use-reply-title {font-size:14px;font-weight:bold;line-height:1.5;padding-right:100px}
.product-use-reply-name {font-size:13px;color:#959595;margin:5px 0}
.product-use-reply-p {padding:10px 0;background:#fff}

/*---------- Item Qa ----------*/
.product-qa-btn {float:right;margin-bottom:20px}
.product-qa-wrap {border-top:1px solid #eaeaea}
.product-qa-list {position:relative;padding:10px;border:1px solid #eaeaea;border-top:0;min-height:47px}
.product-qa-title {display:block;float:left;width:80%;text-align:left;font-weight:bold;font-size:14px;border:0;background:none}
.product-qa-title .sit_qaa_done {background:#B5B5B5;color:#fff;width:62px;height:18px;line-height:18px;display:inline-block;text-align:center;padding:0 5px;margin-right:10px;font-size:12px;font-weight:normal}
.product-qa-title .sit_qaa_yet {background:#FF4848;border:0;color:#FFf;width:62px;height:18px;line-height:18px;display:inline-block;margin-right:10px;font-size:12px;text-align:center;padding:0 5px;font-weight:normal}
.product-qa-dl {color:#757575;margin:0;float:left;width:20%;text-align:right;line-height:25px;zoom:1}
.product-qa-dl:after {display:block;visibility:hidden;clear:both;content:""}
.product-qa-dl dt {position:absolute;font-size:0;line-height:0;content:""}
.product-qa-dl dd {display:inline-block;margin-left:10px}
.product-qa-cont {display:none;clear:both;margin:20px 0 10px}
.product-qa-p {margin:10px 0;background:#f5f5f5;line-height:1.5}
.product-qa-p .product-qa-alp {position:absolute;top:15px;left:15px;font-size:24px;color:#959595;font-weight:bold}
.product-qa-qaa {padding:20px;padding-left:45px;position:relative;min-height:100px;border-top:1px solid #e5e5e5}
.product-qa-qaq {padding:20px;padding-left:45px;position:relative;min-height:100px}
.product-qa-cont textarea {display:none}
.product-qa-cmd {text-align:right}